*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Roboto";
}

.box-container{
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-between;
}

.containerUtama{
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.containerScore{
    display: grid;
    grid-template-columns: 350px 350px;
    height: 300px;
    gap: 50px;
    justify-content: space-between;
    margin: 20px;
}

.ScoreContent{
    border: 3px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 20px;
    align-items: center;
}

.score{
    font-size: 150px;
}

#Choice{
    display: flex;
    padding: 10px;
    margin-left: 25px;
    width: fit-content;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    align-self: flex-start;
}

.containerButton{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 120px;
    margin: 20px;
}

.allButton{
    display: flex;
    gap: 30px;
    margin: 20px auto;
}

.allButton button{
    display: block;
    padding: 20px;
    width: fit-content;
    font-size: 36px;
    border-radius: 10px;
    cursor: pointer;
}

button{
    display: block;
    padding: 20px;
    width: fit-content;
    font-size: 36px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}

.containerSamping{
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 280px;
    overflow-y:scroll;
    text-align: center;
    align-items: center;
}

.containerSamping::-webkit-scrollbar{
    display: none;
}

ol{
    color: gray;
    padding-left: 20px;
    margin-top: 10px;
}

.containerBungkus{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerHasil{
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
}

.btnReset{
    display: block;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}